#sight-animal {
    background-color: #d9d9d9;
    box-shadow: 3px 3px 3px #888888;
    padding: 0.8em;
}

#intro-div {
    background-color: #d9d9d9;
    box-shadow: 5px 5px 2px #888888;
    padding: 0.8em;
}